*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
/.idea/caches
/.idea/grandle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/runConfigurations.xml
android-videostreamdecodingsample/.externalNativeBuild
android-videostreamdecodingsample/.idea
android-videostreamdecodingsample/.gradle
android-videostreamdecodingsample/app/build
android-videostreamdecodingsample/build
android-videostreamdecodingsample